{% extends './layout.html.twig' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 title-margin">
            <h4>{{ section }}</h4>
            <hr>
        </div>
    </div>
    {% if cart is not empty %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
            {% for cart in cart %}
                <tr>
                    <td>{{ cart.id }}</td>
                    <td>{{ cart.description }}</td>
                    <td>{{ cart.type }}</td>
                    <td>{{ cart.qty }}</td>
                    <td>{{ cart.price }} €</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
       <p class="pull-right">Total: {{ totalPrice }} €</p>
    {% else %}
        <p class="alert alert-warning"> There are'nt products in the cart.</p>
    {% endif %}
</div>
{% endblock %}