{% extends './layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 title-margin">
                <h4>{{ section }}</h4>
                <hr>
            </div>
        </div>
        <div class="pull-right">
        </div>
        <div class="row">
                {% for product in products %}
                    <div class="col-3" style="padding: 15px">
                        <div class="card card-product" style="width: 18rem; ">
                            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <span class="card-text">{{ product.price}} €</span>
                                <a href="javascript:void(0)" class="btn-sm btn-primary text-center"
                                   id="js-addCart" data-id="{{ product.id }}" style="width: 100%; display:block" data-url="{{ path('addItemCart') }}" >Add cart </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

